body {
  background-color: #cae5ff;
  font-family: "Ubuntu", sans-serif;
}

.weather-app {
  background: #151e3f;
  max-width: 600px;
  margin: 20px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 5px;
}

header {
  border-bottom: 1px solid rgba(190, 187, 187, 0.656);
  padding-bottom: 20px;
}

.search-form-input {
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  width: 80%;
  font-size: 15px;
}

.search-form-button {
  background: #db5461;
  color: #ffffff;
  padding: 10px 30px;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  font-size: 15px;
}

main {
  padding: 10px 10px 0 10px;
  color: #ffffff;
}

.information {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  font-size: 40px;
}

.current-date {
  margin-top: 17px;
}

.weather-app-temperature-container {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 10px;
  margin-bottom: 20px;
}

.weather-app-icon {
  height: 90px;
  width: 90px;
}

.weather-app-temperature {
  display: flex;
}

.weather-app-temperature-value {
  font-size: 70px;
  font-weight: 600;
}

.weather-app-details {
  background: #dceab2;
  border-radius: 5px;
  padding: 20px;
}

.weather-app-unit {
  font-size: 25px;
  font-weight: 500;
  margin-top: 10px;
}

.weather-app-details ul {
  list-style: none;
  padding: 0;
  color: rgb(71, 70, 70);
  display: flex;
  justify-content: space-between;
  line-height: 23px;
}

.weather-app-description {
  margin: 0;
  font-size: 25px;
  color: #000;
}

.humidity-data {
  border-left: 1px solid #c7c7c7bc;
  padding-left: 20px;
}

.pressure-data {
  border-left: 1px solid #c7c7c7bc;
  padding-left: 20px;
}

footer {
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}
